<div class="container">
    <div class="row">
        <GlobalAlert />
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold mb-4">Sing-up</h1>
                <UserInfoComponent 
                    v-model:username="username"
                    v-model:password="password"
                />
                <div class="row">
                    <button @click="logon" class="btn btn-primary w-auto mx-auto mb-3" type="button">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>
