<div class="row mb-3 d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-2 text-md-start text-center">
        <p class="mb-0 me-2">Account:</p>
    </div>
    <div class="col-12 col-md-2">
        <input type="text" class="form-control">
    </div>
</div>
<div class="row mb-3 d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-2 text-md-start text-center">
        <p class="mb-0 me-2">Password:</p>
    </div>
    <div class="col-12 col-md-2">
        <input type="text" class="form-control">
    </div>
</div>