<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">代碼</th>
                <th scope="col">股數</th>
                <th scope="col">買價</th>
                <th scope="col">本金</th>
                <th scope="col">日期</th>
                <th scope="col">現價</th>
                <th scope="col">損益</th>
                <th scope="col">報酬率</th>
                <th scope="col">平衡</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in items" :key="index">
                <td><button v-on:click="deleteItem(item.id)">-</button></td>
                <td>{{ item.code }}</td>
                <td>{{ item.shares }}</td>
                <td>{{ item.buy_price }}</td>
                <td>{{ item.principal_with_fee }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.current_price }}</td>
                <td>{{ item.profit_loss }}</td>
                <td>{{ item.return_rate }}</td>
                <td>{{ item.balance }}</td>
            </tr>
            <tr>
                <td><button v-on:click="addItem">+</button></td>
                <td><input v-model="newItem.code" /></td>
                <td><input v-model="newItem.shares" /></td>
                <td><input v-model="newItem.buy_price" /></td>
                <td><p>{{ getPrincipalWithFee(newItem) }}</p></td>
                <td>
                    <el-date-picker
                        v-model="newItem.date"
                        type="date"
                        placeholder="Select date"
                        format="YYYY-MM-DD">
                    </el-date-picker>
                </td>
                <td><input v-model="newItem.current_price" /></td>
                <td><input v-model="newItem.profit_loss" /></td>
                <td><input v-model="newItem.return_rate" /></td>
                <td><input v-model="newItem.balance" /></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="d-flex">
        <p class="me-5">總筆數: {{ items.length }}</p>
        <p>總額: {{ calcTotalPrice() }}</p>
    </div>
</div>
