<div class="table-responsive">
    <table class="table table-striped table-bordered" style="table-layout: auto;">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">代碼</th>
                <th scope="col">股數</th>
                <th scope="col">買價</th>
                <th scope="col">本金</th>
                <th scope="col" style="white-space: nowrap;">手續費</th>
                <th scope="col">日期</th>
                <th scope="col">現價</th>
                <th scope="col">損益</th>
                <th scope="col">報酬率</th>
                <th scope="col">平衡</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in items" :key="index">
                <th scope="row">
                    <button 
                        data-bs-toggle="modal"
                        data-bs-target="#sellWindow"
                        v-on:click="selectSellItem(index)"
                    >
                        -
                    </button>
                </th>
                <td>{{ item.code }}</td>
                <td>{{ item.shares }}</td>
                <td>{{ item.transaction_price }}</td>
                <td>{{ item.principal }}</td>
                <td>{{ item.fee }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.current_price }}</td>
                <td>{{ item.profit_loss }}</td>
                <td>{{ item.return_rate }}</td>
                <td>{{ item.balance }}</td>
            </tr>
            <tr>
                <th scope="row"><button v-on:click="addItem">+</button></th>
                <td><input v-model="newItem.code" /></td>
                <td><input v-model="newItem.shares" /></td>
                <td><input v-model="newItem.transaction_price" /></td>
                <td>{{ calcPrincipal(newItem) }}</td>
                <td>{{ calcFee(newItem) }}</td>
                <td>
                    <el-date-picker
                        v-model="newItem.date"
                        type="date"
                        placeholder="Select date"
                        format="YYYY-MM-DD">
                    </el-date-picker>
                </td>
                <td><input v-model="newItem.current_price" /></td>
                <td><input v-model="newItem.profit_loss" /></td>
                <td><input v-model="newItem.return_rate" /></td>
                <td><input v-model="newItem.balance" /></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="sellWindow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title" id="staticBackdropLabel">{{ heldItem.code }}</h5>
                <p class="modal-title">{{ heldItem.date }}</p>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="text-start">
                        <h5><b>持有</b></h5>
                        <br />
                        <div class="mb-3 row">
                            <p>股數: {{ heldItem.shares }}</p>
                            <p>買價: {{ heldItem.transaction_price }}</p>
                        </div>
                    </div>
                    <div>
                        <h5><b>賣出</b></h5>
                        <br />
                        <div class="mb-3 row">
                            <label for="sellItem.shares" class="col-sm-3 col-form-label">股數</label>
                            <div class="col-sm-7">
                                <input class="form-control" v-model="sellItem.shares">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="sellItem.transaction_price" class="col-sm-3 col-form-label">賣價</label>
                            <div class="col-sm-7">
                                <input class="form-control" v-model="sellItem.transaction_price">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex flex-column align-items-start">
                    <p style="text-align: left;">手續費: {{ calcFee(sellItem) }}</p>
                    <p style="text-align: left;">交易稅: {{ calcTransactionTax(sellItem).toFixed() }}</p>
                    <p style="text-align: left;">報酬率: {{ calcReturnRate(heldItem, sellItem).toFixed(2) + "%" }}</p>
                    <p style="text-align: left;">損益: {{ calcProfitLoss(heldItem, sellItem).toFixed(2) }}</p>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button 
                    v-on:click="deleteItem"
                    type="button" 
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                >
                    賣出
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex">
        <p class="me-5">總筆數: {{ items.length }}</p>
        <p>總額: {{ calcTotalPrice().toFixed() }}</p>
    </div>
</div>
