<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">代碼</th>
                <th scope="col">股數</th>
                <th scope="col">買價</th>
                <th scope="col">本金</th>
                <th scope="col">日期</th>
                <th scope="col">現價</th>
                <th scope="col">損益</th>
                <th scope="col">報酬率</th>
                <th scope="col">平衡</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in items" :key="index">
                <td>
                    <button 
                        data-bs-toggle="modal"
                        data-bs-target="#sellWindow"
                        v-on:click="selectSellItem(index)"
                    >
                        -
                    </button>
                </td>
                <td>{{ item.code }}</td>
                <td>{{ item.shares }}</td>
                <td>{{ item.transaction_price }}</td>
                <td>{{ item.principal_with_fee }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.current_price }}</td>
                <td>{{ item.profit_loss }}</td>
                <td>{{ item.return_rate }}</td>
                <td>{{ item.balance }}</td>
            </tr>
            <tr>
                <td><button v-on:click="addItem">+</button></td>
                <td><input v-model="newItem.code" /></td>
                <td><input v-model="newItem.shares" /></td>
                <td><input v-model="newItem.transaction_price" /></td>
                <td><p>{{ getPrincipalWithFee(newItem) }}</p></td>
                <td>
                    <el-date-picker
                        v-model="newItem.date"
                        type="date"
                        placeholder="Select date"
                        format="YYYY-MM-DD">
                    </el-date-picker>
                </td>
                <td><input v-model="newItem.current_price" /></td>
                <td><input v-model="newItem.profit_loss" /></td>
                <td><input v-model="newItem.return_rate" /></td>
                <td><input v-model="newItem.balance" /></td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="sellWindow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ heldItem.code }}</h5>
                    <p class="modal-title">{{ heldItem.date }}</p>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <div class="text-start">
                            <h5><b>持有</b></h5>
                            <br />
                            <div class="mb-3 row">
                                <p>股數: {{ heldItem.shares }}</p>
                                <p>買價: {{ heldItem.transaction_price }}</p>
                            </div>
                        </div>
                        <div>
                            <h5><b>賣出</b></h5>
                            <br />
                            <div class="mb-3 row">
                                <label for="sellItem.shares" class="col-sm-3 col-form-label">股數</label>
                                <div class="col-sm-7">
                                    <input class="form-control" v-model="sellItem.shares">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="sellItem.transaction_price" class="col-sm-3 col-form-label">賣價</label>
                                <div class="col-sm-7">
                                    <input class="form-control" v-model="sellItem.transaction_price">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button 
                        v-on:click="deleteItem"
                        type="button" 
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                    >
                        賣出
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex">
        <p class="me-5">總筆數: {{ items.length }}</p>
        <p>總額: {{ calcTotalPrice() }}</p>
    </div>
</div>
